@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --base: #191724;
  --surface: #1f1d2e;
  --overlay: #26233a;
  --muted: #6e6a86;
  --subtle: #908caa;
  --text: #e0def4;
  --love: #eb6f92;
  --gold: #f6c177;
  --pine: #31748f;
  --foam: #9ccfd8;
  --iris: #c4a7e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--base);
  color: var(--text);
  font-family: "Exo 2", sans-serif;
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template: 1fr 1fr / 20% 80%;
}

.sidebar {
  grid-row: 1 / 3;
}

.sidebar .container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar .container .margin {
  margin-bottom: 3rem;
}

.sidebar .container .nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--text);
  text-decoration: none;
}

.sidebar .container .nav:first-child {
  margin-bottom: 2rem;
}

.sidebar .container .nav .logo {
  width: 50px;
}

.sidebar .container .nav .nav-image {
  width: 25px;
  margin-left: 12px;
}

.sidebar .container .nav h1 {
  font-size: 2rem;
}

.sidebar .container .nav p {
  font-size: 1.1rem;
  margin-left: 12px;
  font-weight: bold;
}

.header {
  margin-bottom: 1.5rem;
}

.header .top {
  display: flex;
  margin-top: 1rem;
}

.header .top .search {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;
}

.header .top .search .search-icon {
  width: 30px;
}

.header .top .search input {
  width: 650px;
  height: 38px;
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 0.3rem;
  background-color: var(--overlay);
  color: var(--text);
  font-size: 1rem;
  outline: none;
}

.header .top .search input:focus {
  border-color: var(--foam);
}

.header .top .account {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
  margin-right: 2rem;
}

.header .top .account .notification-icon {
  width: 25px;
}

.header .top .account img {
  border-radius: 50%;
}

.header .top .account p {
  font-size: 1.1rem;
  font-weight: bold;
}

.header .bottom {
  margin-left: 2rem;
  margin-top: 1rem;
  display: flex;
}

.header .bottom .welcome {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header .bottom .welcome img {
  border-radius: 50%;
}

.header .bottom .welcome p {
  font-weight: bold;
}

.header .bottom .welcome .small-text {
  margin-bottom: 0.3rem;
}

.header .bottom .welcome .large-text {
  font-size: 1.8rem;
}

.header .bottom .options {
  flex: 1;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.header .bottom .options button {
  background-color: var(--overlay);
  color: var(--text);
  border: none;
  border-radius: 12px;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-family: "Exo 2", sans-serif;
}

.main {
  display: grid;
  grid-template: 1fr 1fr / 70% 30%;
  gap: 1rem;
  padding: 1rem;
}

.main h2 {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
}

.main h3 {
  font-size: 1.2rem;
}

.main .projects {
  grid-row: 1 / 3;
}

.main .projects .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
}

.main .projects .card {
  background-color: var(--surface);
  border-left: 4px solid var(--foam);
  border-radius: 12px;
  padding: 2rem 1rem;
}

.main .projects .card div {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

.main .projects .project-image {
  width: 25px;
}

.main .announcements {
  margin-right: 1rem;
}

.main .announcements .card {
  background-color: var(--surface);
  border-radius: 12px;
  padding: 2rem;
}

.main .announcements .card hr {
  height: 1px;
  background-color: var(--muted);
  margin: 1rem auto;
  border: none;
  border-radius: 2px;
}

.main .trending {
  margin-right: 1rem;
}

.main .trending .card-container {
  background-color: var(--surface);
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main .trending .card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main .trending .card img {
  border-radius: 50%;
}

svg {
  color: var(--text);
}

.bold {
  font-weight: bold;
}
