body {
  background-color: #191724;
}

.calculator {
  background-color: #1f1d2e;
  max-width: 350px;
  border-radius: 24px;
  padding: 36px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.screen {
  min-height: 90px;
  background-color: #26233a;
  border-radius: 12px;
  padding: 16px;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
}

.previous-screen {
  color: #908caa;
  font-size: 24px;
  margin-bottom: 12px;
  min-height: 30px;
}

.current-screen {
  color: #9ccfd8;
  font-size: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btns {
  display: flex;
  gap: 16px;
}

button {
  flex: 1;
  padding: 16px;
  font-size: 17px;
  border: none;
  border-radius: 12px;
  background-color: #26233a;
  color: #e0def4;
  cursor: pointer;
}
