body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #191724;
  color: #e0def4;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
}

img {
  border-radius: 16px;
}

ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #e0def4;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left {
  max-width: 400px;
}

h1 {
  font-size: 48px;
  line-height: 1;
  margin: 0;
}

.main p {
  font-weight: 300;
  color: #908caa;
}

button {
  background-color: #1f1d2e;
  color: #e0def4;
  padding: 12px 48px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

.information {
  text-align: center;
  margin: 100px auto;
}

h2 {
  margin: 48px auto;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.card {
  max-width: 170px;
}

.card p {
  margin: 0;
}

.testimonial {
  background-color: #1f1d2e;
  padding: 50px;
}

.text-container {
  max-width: 900px;
  margin: auto;
}

.testimonial p {
  margin: 0;
}

.testimonial .text {
  font-size: 36px;
}

.author {
  font-size: 24px;
  text-align: right;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
  color: #31748f;
}

.subtle {
  color: #908caa;
}

.newsletter {
  background-color: #1f1d2e;
  margin: 100px 200px 50px 200px;
  display: flex;
  justify-content: space-around;
  padding: 50px;
  border-radius: 12px;
}

.newsletter p {
  margin: 0;
}

.newsletter .text {
  font-size: 20px;
}

.newsletter button {
  background-color: #26233a;
}

.footer {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
