body {
  background-color: #191724;
  color: #e0def4;
  display: flex;
  justify-content: center;
  gap: 100px;
}

h1 {
  font-size: 36px;
  margin-bottom: 50px;
}

.container {
  background-color: #1f1d2e;
  padding: 32px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.item {
  display: flex;
  flex-direction: column;
}

p {
  margin-bottom: 6px;
  text-transform: uppercase;
  color: #908caa;
  font-size: 14px;
}

button {
  margin-bottom: 12px;
  padding: 16px;
  font-size: 16px;
  background-color: #26233a;
  color: #e0def4;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.sketch {
  background-color: #1f1d2e;
  padding: 24px;
  border-radius: 24px;
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
}

.column {
  flex: 1;
  border: 1px solid #1f1d2e;
  background-color: #26233a;
}
