body {
  background-color: #191724;
  color: #faf4ed;
  text-align: center;
}

h1 {
  font-size: 48px;
}

.container {
  max-width: 600px;
  background-color: #232032;
  border-radius: 12px;
  margin: 30px auto;
  padding: 20px;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.scores {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.choices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.result {
  margin: 20px;
}

.reset {
  background-color: #eb6f92;
}

button {
  background-color: #9ccfd8;
  color: #191724;
  flex: 1 1 auto;
  border: none;
  border-radius: 6px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
}
