* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191724;
  color: #e0def4;
  text-align: center;
}

.container {
  padding: 48px;
  border-radius: 24px;
  background-color: #1f1d2e;
  max-width: 600px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

h1 {
  font-size: 48px;
  margin-bottom: 12px;
}

.header p {
  color: #908caa;
  font-size: 18px;
}

.stats {
  display: flex;
  gap: 16px;
}

.board {
  flex: 1;
  background-color: #26233a;
  border-radius: 12px;
  padding: 16px;
}

.name {
  color: #908caa;
  text-transform: uppercase;
  font-size: 13px;
}

.score-el {
  font-size: 36px;
  margin: 6px auto;
}

.player-score {
  color: #31748f;
}

.computer-score {
  color: #eb6f92;
}

.choice-el {
  color: #9ccfd8;
}

.result {
  font-size: 20px;
}

.choices {
  display: flex;
  gap: 16px;
}

button {
  flex: 1;
  padding: 16px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  background-color: #26233a;
  color: #e0def4;
  cursor: pointer;
}
